@import "./../../../assets/global/variables.scss";

:host ::ng-deep {
  .mat-expansion-panel {
    border-bottom: 1px solid $light-grey;
    border-radius: 0;


    &.single-menu {
      padding-bottom: 10px;

      &:hover {
        background: rgba(0, 0, 0, 0.04);
      }
    }
  }

  .mat-expansion-panel-header {
    border-radius: 0;
    padding-left: 0;
    margin: 10px 0;
  }

  .menu-icon {
    width: 40px;
    padding-left: 20px;
    text-align: center;
  }

  .mat-expansion-panel-body {
    padding: 0 0 0 45px;
    margin-bottom: 10px;
  }

  .mat-list {
    padding-top: 0;

    &:last-child {
      margin-bottom: 15px;
    }
  }

  .mat-accordion .mat-expansion-panel:first-of-type {
    border-radius: 0;
  }

  .selected {
    border-left: 3px solid $primary;
  }

  @media (min-width: 1280px) {
    .mat-accordion>div {
      &:first-child {
        padding-top: 12px;
      }
    }
  }
}
