<mat-accordion multi="true" displayMode="flat">
  <div *ngFor="let card of cards">
    <mat-expansion-panel expanded="{{card.expanded}}" *ngIf="card.contents !== undefined">
      <mat-expansion-panel-header [collapsedHeight]="optionHeight" [expandedHeight]="optionHeight">
        <mat-panel-title>
          <div class="row">
            <div class="col-auto pr-0">
              <div class="menu-icon">
                <img src="{{card.icon}}" alt="">
              </div>
            </div>
            <div class="col pl-2">
              <span class="align-middle">{{card.title}}</span>
            </div>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let content of card.contents" [ngStyle]="{'height': optionHeight}">
        <button mat-button class="text-left pl-0 w-100" routerLink=" {{content.link}}">
          <span>{{content.alias}} - {{content.num}}</span>
        </button>
      </div>
    </mat-expansion-panel>

    <div *ngIf="card.contents === undefined" class="mat-expansion-panel mat-expansion-panel-header single-menu"
      [ngStyle]="{'height': optionHeight}" routerLink="{{card.link}}">
      <div class=" col-auto px-0">
        <div class="menu-icon">
          <img src="{{card.icon}}" alt="">
        </div>
      </div>
      <div class="col pl-2">
        <span class="align-middle">{{card.title}}</span>
      </div>
    </div>

  </div>
</mat-accordion>
