<div class="row">
  <div class="col-12  col-lg-8 mt-4">
    <mat-card>
      <mat-card-content>
        <mat-progress-spinner mode="indeterminate">
        </mat-progress-spinner>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngFor="let card of cards" class="col-12  col-lg-8 mt-4">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <mat-icon class="align-middle primary mat-primary" aria-hidden="false" aria-label="conexión">{{card.icon}}
          </mat-icon>
          <span class="align-middle ml-2">{{card.title}}</span>
        </mat-card-title>
        <mat-card-subtitle *ngIf="card.subtitle" class="primary mat-primary">{{card.subtitle}}
          <mat-icon class="align-middle primary mat-primary" aria-hidden="true">keyboard_arrow_right</mat-icon>
        </mat-card-subtitle>
        <mat-slide-toggle class="ml-auto mt-1" color="primary"
          checked={{card.checked}} disabled={{card.disabled}}>
        </mat-slide-toggle>
      </mat-card-header>
      <mat-card-content *ngFor="let content of card.contents">
         <div>{{content.num}}</div> <mat-icon *ngIf="card.link" class="align-middle ml-auto" aria-hidden="true">keyboard_arrow_right</mat-icon>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="w-100 d-sm-none"></div>
  <div class="col-12 col-lg-8 mt-4">
    <app-carousel></app-carousel>
  </div>

</div>
