@import "./../../../assets/global/variables.scss";

:host ::ng-deep {
  .mat-card {
    color: $default-text;
    padding: 0;
    box-shadow: none;
    border: 1px solid $light-grey;
  }

  .mat-card-header {
    padding: 16px;

    border-bottom: 1px solid $light-grey;

    .mat-card-title {
      margin-bottom: 0;
    }

    .mat-card-subtitle {
      margin-bottom: 0;

      &:not(:first-child),
      &:first-child {
        margin-top: 16px;
      }
    }
  }

  .num-list {
    display: block;
    width: 100%;

    >span {
      display: block;

    }

    .services-icons {
      display: inline-block;
      margin-right: 5px;
      ;
    }
  }

  .mat-card-header-text {
    margin-left: 0;
  }

  .mat-card-content {
    margin-left: 38px;
    padding: 14px;
    display: flex;
    margin-bottom: 0;
    padding-right: 0;
    margin-right: 14px;

    &:not(:last-child) {
      border-bottom: 1px solid $light-grey;
    }

    // &.states {
    //   margin-left: 14px;
    //   align-items: center;
    //   flex-direction: column;
    //   >div{
    //     >*{
    //       display:flex;
    //       justify-content: center
    //     }
    //   }
    // }
  }

  .mat-card-subtitle,
  .mat-card-actions {
    margin-left: 32px;
  }

  .swiper-container {
    margin: 8px;
  }

  .header-detail {

    .header-text,
    .header-num {
      font-size: 20px;
    }

    .detail,
    .detail-level {
      font-size: 12px;
    }

    .detail {
      color: $grey;
    }

    .detail-level {
      color: $primary;
    }

    .link {
      color: $primary;
    }
  }

}
