@import "./../../assets/global/variables.scss";

:host ::ng-deep {
  .sub-header{
    background-image: url('./../../assets/global/img/movistar-mobile-header.svg');
    background-color: $primary;
    height: 97px;
    background-size: 100%;
    >div{
      &:first-child{
        padding-top: 10px;;
      }
      font-size: 18px;
      color: #FFF;
      margin-left: 30px;
    }
  }
  .logo{
    background-image: url('./../../assets/global/img/movistar-logo.svg');
    width: 32px;
    height:23px;

  }
  .mat-drawer-inner-container {
    .mat-list-base .mat-list-item .mat-list-item-content {
      padding: 0;
      button {
        padding: 0;
        width: 100%;
      }
    }
    .mat-expansion-panel {
      min-width: 300px;
    }
  }
  .main-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .main-is-mobile .main-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }

  h1.main-app-name {
    margin-left: 8px;
  }

  .main-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }

  .main-is-mobile .main-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }


}
