<img *ngIf="service.name === 'service1' && service.status === 'active'"
    src="./../../assets/global/img/icons/tick-shield-green-icon.svg" alt="">
<img *ngIf="service.name === 'service1' && service.status === 'inactive'"
    src="./../../assets/global/img/icons/tick-shield-inactive-icon.svg" alt="">

<!-- not active for Spain -->
<img *ngIf="service.name === 'service2' && service.status === 'active'"
    src="./../../assets/global/img/icons/content-block-icon.svg" alt="">
<img *ngIf="service.name === 'service2' && service.status === 'inactive'"
    src="./../../assets/global/img/icons/content-block-inactive-icon.svg" alt="">
<!-- not active for Spain -->
<img *ngIf="service.name === 'service3' && service.status === 'active'"
    src="./../../assets/global/img/icons/zoom-lens-shield-icon.svg" alt="">
<img *ngIf="service.name === 'service3' && service.status === 'inactive'"
    src="./../../assets/global/img/icons/zoom-lens-shield-inactive-icon.svg" alt="">
