$mat-spain: (
    50 : #e0f5fb,
    100 : #b3e5f6,
    200 : #80d4f0,
    300 : #4dc3e9,
    400 : #26b6e5,
    500 : #00a9e0,
    600 : #00a2dc,
    700 : #0098d8,
    800 : #008fd3,
    900 : #007ecb,
    A100 : #f3faff,
    A200 : #c0e4ff,
    A400 : #8dceff,
    A700 : #74c3ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
