$primary: #00a9e0 !important;
$primary-50-op: rgba(117, 194, 219, 0.54) !important;
$text-contrast: #FFF;

$default-text: #2a2a3c;
$grey: #757575;
$light-grey: #e9eae8;
$image-list-type: #5bc500;

$background: #f6f6f6;

$gradient-bar-1: #ade27f;
$gradient-bar-2: #7fd4ef;
$gradient-bar-3: #00a9e0;
