$primary: #00a9e0 !important;
$primary-50-op: rgba(117, 194, 219, 0.54) !important;
$text-contrast: #FFF;

$default-text: #2a2a3c;
$grey: #757575;
$soft-grey: #dddddd;
$light-grey: #e9eae8;
$white: #ffffff;
$image-list-type: #5bc500;

// buttons colors
$accept: #5bc500;
$cancel: #ff374a;

//switch bg
$switch-circle: #5bc500;
$switch-bg: rgba(91, 197, 0, .2);

$error: #ff374a;

$background: #f6f6f6;

$gradient-bar-1: #ade27f;
$gradient-bar-2: #7fd4ef;
$gradient-bar-3: #00a9e0;

// status colors
$warning: #f59c00;

// main menu
$soft-primary:#e6f1f4;
