// ### CUSTOM CLASES ###

.primary {
  color: $primary;
}

.primary-bg {
  background-color: $primary;
}

.inactive {
  opacity: .3;
}

.link {
  cursor: pointer;
}



// ### COMPONENTS ###
// buttons

.mat-flat-button.mat-accept,
.mat-raised-button.mat-accept,
.mat-fab.mat-accept,
.mat-mini-fab.mat-accept {
  background-color: $accept;
  color:#FFF;
}

//switch
.mat-slide-toggle {
  &.mat-primary {
    &.mat-checked {
      .mat-slide-toggle-bar {
        background-color: $primary-50-op;
      }

      .mat-slide-toggle-thumb {
        background-color: $primary;
      }
    }
  }
}

// card

.custom-card{
  &.mat-card{
    color: $default-text;
    padding:0;
    box-shadow: none;
    border: 1px solid #e9eae8;
    .mat-card-header{
      padding: 16px ;

      border-bottom:1px solid $light-grey;
        .mat-card-title{
          margin-bottom: 0;
          >span:first-child{
            width:20px;
            display:inline-block;
            text-align: center;
          }
        }
        .mat-card-subtitle {
          margin-bottom: 0;
          margin-top: 5px;

        }
    }
  }
  .imagesList{
    .mat-card-content{
      margin-left:0;
    }
    img {
      max-width:97px;
    }
    .type{
      color: $image-list-type;
      font-size: 12px;
      text-transform: uppercase;
    }
    .title{
      font-size: 16px;
    }
    .subtitle{
      font-size: 12px;
      color: $grey;
    }
    .price{
      font-size: 20px;
      span {
        font-size: 14px;
        color: $grey;;
      }
    }
  }

  .num-list{
    display: block;
    width: 100%;
    >span{
      display: block;

    }
    .services-icons{
      display: inline-block;
      margin-right: 5px;;
    }
  }

  .mat-card-header-text {
    margin-left: 0;
  }
  .mat-card-content{
    margin-left: 31px;
    padding: 14px;
    display:flex;
    margin-bottom: 0;
    padding-right: 0;
    margin-right: 14px;
    &:not(:last-child){
      border-bottom:1px solid #e9eae8;
    }
}
  .mat-card-subtitle,
  .mat-card-actions {
    margin-left: 32px;
  }
  .swiper-container{
    margin: 8px;
  }
}

//loader
mat-progress-spinner {
  margin: 0 auto;
  opacity: .3;
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: $primary;
}

//carousel
.swiper-pagination-bullet-active {
  background-color: $primary;
}

// Slider
.slider-telefonica {
  &.mat-slider {
    padding: 0;
  }

  &.mat-accent .mat-slider-track-fill {
    display: none;
  }

  &.mat-slider-disabled .mat-slider-thumb {
    position: absolute;
    right: -10px;
    bottom: -12px;
    box-sizing: border-box;
    width: 20px;
    height: 24px;
    border: 0;
    border-radius: 0;
    transform: scale(1);
    background-image: url('./assets/global/img/icons/shield-bar-icon.svg');
    background-size: 98%;
    background-color: transparent;
    background-repeat: no-repeat;
  }

  &.mat-slider-horizontal {
    height: 31px;

    .mat-slider-wrapper {
      left: 0;
      right: 0;
      height: 8px;
      background-image: linear-gradient(to right, $gradient-bar-1 15%, $gradient-bar-2 58%, $gradient-bar-3 80%);
    }

    .mat-slider-track-background {
      display: none;
    }
  }

  .mat-slider-wrapper {
    top: 12px;
  }
}
