<div class="main-container" [class.main-is-mobile]="mobileQuery.matches">
<app-header (click)="snav.toggle()"></app-header>
  <mat-sidenav-container class="main-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [(opened)]="opened" [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <app-main-menu-dropdown></app-main-menu-dropdown>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="sub-header d-block d-sm-none" *ngIf="router.url === '/'">
        <div>¡Bienvenido!</div>
        <div>Todo en calma, estás protegido</div>
      </div>
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
