<niji-full-carousel></niji-full-carousel>
<niji-full-loader></niji-full-loader>
<div class="main-container" [class.main-is-mobile]="mobileQuery.matches">

    <niji-header *ngIf="mobileQuery.matches" class="d-lg-none" (toggleNav)="snav.toggle()" [title]="routeDataTitle"
        [media]="mobileQuery.matches" [menuClosed]="snav.opened">
    </niji-header>
    <niji-header-state [menuClosed]="snav.opened"  *ngIf="checkVisible()">
    </niji-header-state>

    <mat-sidenav-container class="main-sidenav-container" [style.paddingTop.px]="checkVisible() ? 0 : 64">
        <mat-sidenav #snav [opened]="!mobileQuery.matches" [mode]="mobileQuery.matches ? 'over' : 'side'"
            [fixedInViewport]="mobileQuery.matches" fixedTopGap="64">
            <niji-main-menu-dropdown></niji-main-menu-dropdown>
        </mat-sidenav>

        <mat-sidenav-content class="pb-4">
            <div class="container h-100">
                <router-outlet (activate)="scrollTop()"></router-outlet>
            </div>
        </mat-sidenav-content>

    </mat-sidenav-container>

</div>
