<!-- <swiper *ngIf="type == 'component' && show" class="swiper-container" fxFlex="auto" [config]="config" [disabled]="disabled" (indexChange)="onIndexChange($event)" (swiperTransitionStart)="onSwiperEvent('transitionStart')" (swiperTransitionEnd)="onSwiperEvent('transitionEnd')">
  <div *ngFor="let slide of slides" class="swiper-slide">
    <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
      <h1 class="mat-headline" style="margin:20px;">{{slide}}</h1>
      <br>
      <img src="https://picsum.photos/seed/picsum/1000" alt="" style="max-width:100%">
      <p class="body-text" style="margin:20px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam voluptatem cupiditate maxime deleniti quia, magnam corrupti ipsa quisquam perspiciatis autem nemo fugit quibusdam quod nostrum fugiat architecto officiis cum voluptate.</p>
    </div>
  </div>
</swiper> -->


<!-- <sidenav-autosize-example></sidenav-autosize-example> -->

<main-layout></main-layout>
