$mat-brazil: (
    50 : #ede0f3,
    100 : #d1b3e0,
    200 : #b380cc,
    300 : #944db8,
    400 : #7d26a8,
    500 : #660099,
    600 : #5e0091,
    700 : #530086,
    800 : #49007c,
    900 : #38006b,
    A100 : #c69aff,
    A200 : #aa67ff,
    A400 : #8d34ff,
    A700 : #7f1aff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
