$primary: #660099;
$primary-50-op: rgba(102, 0, 153, 0.54);

$default-text: #2a2a3c;
$grey: #757575;
$image-list-type: #5bc500;
$image-list-type: #5bc500;

$background: #f6f6f6;

$gradient-bar-1: #c37fe2;
$gradient-bar-2: #723e67;
$gradient-bar-3: #660099;
