.header-image {
  height: 100px;
  background-color: $primary;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-bar {
  background-color: $primary-50-op;
}

mat-progress-spinner {
  margin: 0 auto;
  opacity: .3;
}

.primary {
  color: $primary;
}

.mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-thumb {
  background-color: $primary;
}

.mat-toolbar.mat-primary {
  background: $primary;
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: $primary;
}

.swiper-pagination-bullet-active {
  background-color: $primary !important;
}
