<!-- dialog modal -->
<div *ngIf="!data.modalStyle">
    <h1 mat-dialog-title>{{data.title}}</h1>
    <div mat-dialog-content>
        <p>{{data.content}}</p>
    </div>
    <div mat-dialog-actions class="align-items-end">
        <button mat-flat-button color="cancel" (click)="onClick(false)">{{data.no}}</button>
        <button mat-flat-button color="accept" (click)="onClick(true)" cdkFocusInitial>{{data.yes}}</button>
    </div>
</div>

<!-- help modal  -->
<div *ngIf="data.modalStyle === 'helpModal'">
    <div class="row">
        <div class="col-12 text-right mb-4">
            <mat-icon (click)="onClick()" class="ml-auto link close-icon">close</mat-icon>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <img src="{{data.modalContent.icon}}" alt="">
        </div>
        <div class="col-12">
            <h1 [innerHTML]="data.modalContent.title"></h1>
            <h2 [innerHTML]="data.modalContent.subtitle"></h2>
        </div>
    </div>

    <div class="row ml-3">
        <div class="col-auto px-0">
            <img src="{{data.modalContent.listIcon}}" alt="">
        </div>
        <div class="col">
            <h3 [innerHTML]="data.modalContent.listTitle1"></h3>
            <h4 [innerHTML]="data.modalContent.listSubtile1"></h4>
        </div>
    </div>
    <div class="row">
        <div *ngIf="data.modalContent.switch" class="col-12 text-right">
            <mat-slide-toggle class="ml-auto mt-1" color="primary" checked=false>
            </mat-slide-toggle>
        </div>
    </div>
    <div class="row mt-4 ml-3">
        <div class="col-auto px-0">
            <img src="{{data.modalContent.listIcon}}" alt="">
        </div>
        <div class="col">
            <h3 [innerHTML]="data.modalContent.listTitle2"></h3>
            <h4 [innerHTML]="data.modalContent.listSubtile2"></h4>
        </div>
    </div>

    <div *ngIf="data.modalContent.buttonAccept" class="col-12 text-right mt-1">
        <button mat-flat-button color="accept">{{data.modalContent.buttonAccept}}</button>
    </div>

</div>
