<mat-card-content class="device-card-content">
  <div class="row content">
    <div class="col-12">
      {{card[0].cardDescription}}
    </div>

    <div class="col-12 col-lg-8 mt-3">
      <div class="box">
        <div class="row mt-3 mb-3">
          <div class="col pr-0">
            <div class="text-center">
              <img src="./../../../assets/global/img/shield-{{card[0].level}}.svg" alt="" class="shield">
            </div>
            <div class="text-center">
              <span class="primary fs-20">{{card[0].level}}</span><span class="fs-20"> / </span><span class="fs-20">
                5</span>
            </div>
          </div>
          <div class="col-auto px-0 v-line">
          </div>
          <div class="col license-caption">
            {{card[0].licensesCaption}}</div>
        </div>
      </div>
    </div>
    <div class="col-10 offset-1 col-lg-4 offset-lg-0 d-flex flex-column align-items-center justify-content-center mt-3">
      <div class="mx-1">
        <button class="w-100" mat-flat-button color="accept">{{card[0].btn}}</button>
      </div>
      <div class="link primary mt-2">{{card[0].dimiss}}</div>
    </div>
  </div>

  <div *ngIf="card[0].protectedDevices.length > 0" class="mt-3">
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header [collapsedHeight]="'50px'" [expandedHeight]="'50px'">
        <mat-panel-title>
          <span class="align-middle">{{card[0].cardTitle}}</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let device of card[0].protectedDevices">
        <div class="num-list d-flex w-100 link device-list" routerLink="/{{device.link}}">
          <div class="flex-grow-1 ">
            <span>{{device.name}}</span>
          </div>
          <div class="img">
            <img src="./../../assets/global/img/icons/arrow-right-icon.svg" alt="">
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </div>

</mat-card-content>
