@import "./../../../assets/global/variables.scss";

:host ::ng-deep {
  .device-card-content {
    flex-direction: column;
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
    margin-right: 0;

    .box {
      border: 1px solid $soft-grey;
      border-radius: 4px;
    }

    .v-line {
      border: 1px solid $soft-grey;
    }
  }

  .content {
    padding-left: 48px;
    padding-right: 20px;
  }

  .mat-expansion-panel-header {
    border-bottom: solid 1px $light-grey;
    padding-left: 50px;
  }

  .mat-expansion-panel-body {
    padding: 0;

    >div {
      border-bottom: solid 1px $light-grey;
    }
  }

  .device-list {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 18px;

    +.img {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .shield {
    width: 35px;
    height: 45px;
  }

  .license-caption {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 26px 0 10px;
    word-spacing: 100vw
  }
}
