// Imports functions, variables, and mixins that are needed by other Bootstrap files
@import "./assets/variables"; // needed to join bootstrap and material
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities";
@import "./assets/reset"; // needed to join bootstrap and material

@import "./assets/global.scss";

.mat-drawer-inner-container {
  .mat-list-base .mat-list-item .mat-list-item-content {
    padding: 0;

    button {
      padding: 0;
      width: 100%;
    }
  }

  .mat-expansion-panel {
    min-width: 300px;
  }
}

.header-image {
  height: 100px;
  background-color: $primary;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-bar {
  background-color: $primary-50-op;
}
