<!-- <h1>{{title}}</h1> -->
<div class="row">
  <div class="col-12 col-lg-8  mt-4">
    <div class="header-detail">
      <div class="row">
        <div class="col-auto pr-2">
          <div class="header-text">{{header[0].title}}</div>
        </div>
        <div class="col-auto pl-0">
          <img src="./../../assets/global/img/icons/pen-icon.svg" alt="">
        </div>
        <div class="col-auto ml-auto">
          <img src="./../../assets/global/img/icons/question-icon.svg" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="header-num">{{header[0].num}}</div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-auto pr-0">
          <span class="detail">{{header[0].levelCaption}}</span>
        </div>
        <div class="col-auto pl-1">
          <span class="detail-level">{{header[0].protectionCaption}}</span>
        </div>
      </div>

      <mat-slider min="0" max="10" step="1" value="{{header[0].protection}}" class="slider-telefonica w-100 mb-0" disabled="disabled"></mat-slider>

      <div class="row mb-4">
        <div class="col">
          <span class="link">{{header[0].link}}</span>
        </div>
      </div>
    </div>
    <mat-card>
      <mat-card-content>
        <mat-progress-spinner mode="indeterminate" strokeWidth="1">
        </mat-progress-spinner>
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngFor="let card of cards" class="col-12 col-lg-8 mt-4">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <img src="{{card.icon}}" alt="">
          <span class="align-middle ml-2">{{card.title}}</span>
        </mat-card-title>
        <mat-card-subtitle *ngIf="card.subtitle" class="primary mat-primary">{{card.subtitle}}
        </mat-card-subtitle>
        <mat-slide-toggle *ngIf="card.showCheck" class="ml-auto mt-1" color="primary" checked={{card.checked}}
          disabled={{card.disabled}}>
        </mat-slide-toggle>
      </mat-card-header>
      <mat-card-content *ngFor="let content of card.contents">
        <div class="num-list">
          <span>{{content.alias}} {{content.num}}</span>
        </div>
        <mat-icon *ngIf="content.hasOwnProperty('link')" class="align-middle ml-auto" aria-hidden="true">
          keyboard_arrow_right</mat-icon>
      </mat-card-content>
    </mat-card>
  </div>
</div>
