<div class="row mt-2">
  <div class="col-auto px-0">
    <span class="detail pl-0">{{securityLevel[0].levelCaption}}</span>
  </div>
  <div class="col-auto pl-1">
    <span class="detail-level" [ngClass]="{'warning':securityLevel[0].protection <= SECURITY_LEVEL_LOW,
      'primary':securityLevel[0].protection > SECURITY_LEVEL_LOW}">{{securityLevel[0].protectionCaption}}</span>
  </div>
</div>
<div class="row mt-2">
  <div class="col-12 px-0">
    <mat-slider min="0" max="10" step="1" value="{{securityLevel[0].protection}}" class="custom-slider w-100 mb-0"
      disabled="disabled"></mat-slider>
  </div>

  <div class="col-12 px-0">
    <span class="link primary">{{securityLevel[0].link}}</span>
  </div>
</div>
<!-- fusión -->
<div class="row mt-3" *ngIf="securityLevel[0].protection <= SECURITY_LEVEL_LOW && open">
  <div class="col px-0">
    <mat-card>
      <mat-card-content>
        <div class="row">
          <div class="col-auto">
            <img src="./../../../assets/global/img/icons/warning-nobg-icon.svg" alt="warning">
          </div>
          <div class="col w-100 px-0">
            <span class="warning-status-message">{{warningStatusMsg}}
            </span>
            <div (click)="close()" class="text-right link primary mt-3">Entendido</div>
          </div>
          <div class="col-auto">
            <mat-icon (click)="close()" class="ml-auto link close-icon">close</mat-icon>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
